<section class="container py-5 pt-xxl-4 mt-md-2 mb-md-4">
        <div class="row row-cols-lg-6 row-cols-sm-3 row-cols-2 g-3 g-xl-4">
        {% for categorie in categories %}
          <div class="col"><a class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center" href="{{ path('show-article', {'id':categorie.id} )}}">
              <div class="icon-box-media bg-faded-accent text-accent rounded-circle mb-3 mx-auto">
              <img src="/uploads/categories/{{categorie.image}}"></div>
              <h3 class="icon-box-title fs-base mb-0">{{categorie.name}} </h3>
              <span>{{categorie.articles | length }} Article(s)</span>
              </a>
              </div>
          {% endfor %}
          </div>
        </div>
    </section>